
VuetifySpa\.Data/obj/

VuetifySpa\.Data/bin/

VuetifySpa\.Web/bin/

\.vs/

VuetifySpa\.Web/obj/

VuetifySpa\.Web/node_modules/

VuetifySpa\.Web/wwwroot/dist/

VuetifySpa\.Web/appsettings\.json

\.idea/

VuetifySpa\.Web/wwwroot/img/avatar/

VuetifySpa\.Web/Properties/PublishProfiles/FolderZip\.pubxml

VuetifySpa\.Web/wwwroot/

VuetifySpa\.Web/package-lock\.json

VuetifySpa\.Web/appsettings\.Development\.json

VuetifySpa\.Web/Logs/

VuetifySpa\.Web/appsettings\.server\.json
